<footer>
    <small>copyright c blog ninja
         <span class="current_year"></span>
    </small>
</footer>
<script type="text/javascript">
    document.querySelector('.current_year').textContent = new Date().getFullYear();
</script>