<header>
    <div class="header_container">
        <div class="top_header">
            <h1>blog ninja</h1>
        </div>
        <div class="bottom_header">
            <div class="logo">
                <h1>a net ninja site</h1>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/">blogs</a>
                    </li>
                    <li>
                        <a href="/about">about</a>
                    </li>
                    <li>
                        <a href="/new_blog">new blog</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>