<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <%- include('partials/__header'); %>
        <div class="about common">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cupiditate voluptatem reprehenderit assumenda labore atque, cum exercitationem accusantium iusto odio delectus laboriosam eius quae ea maxime omnis? Debitis, molestias repellat!</p>
        </div>
        <%- include('partials/__footer'); %>
    </div>
</body>
</html>